<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="JoyMall-TestNG">
    <test name="Reg-Test">
        <classes>
            <class name="RegisterTest"/>
        </classes>
    </test>
    <test name="Log-Test">
        <classes>
            <class name="LoggingTest"/>
        </classes>
    </test>

</suite>
